*{
    margin: 0 auto;
    text-decoration: none;
    box-sizing: border-box;
    background-position-x: center;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.navmenu{
    display: flex;
    align-items: center;
    gap: 50px;
    text-decoration: none;
    padding: 15px 120px;
}

.navmenu2{
    display: flex;
    gap: 32px;
    text-decoration: none;
    list-style-type: none;
}
.btn1{
    padding: 12px 16px;
    background-color: #30b868;
    font-size:600;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.banner-body{
    padding: 115.5px 120px 179px 120px;
}

#banner{
    text-align: center;
    background-image: url("images/hero-bg.png");
    /* max-width: 2042px; */
    background-repeat: no-repeat;

    
}
.btn2{
    background-color: white;
    color: #30b868;
    border-radius: 1000px;
    display: flex;
    padding: 8px 12px;
}

.heading{
    padding: 16px 0px;
}

.text{
    
    padding: 16px 0px;
}

.para-one{ 
    max-width:1360px;
    max-height: 60px;
    color: white; 
    font-size: 18px;
    line-height: 24px;

}
.white{ color: white;}
.green{ color: #30b868;}

.ban-btn{
    padding-top: 32px;
    align-items: center;
    gap: 16px;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    /* border: none;
    border-radius: 4px; */
}
.btn3{
    background: transparent;
    color: white;
    font-size: 600;
    border: white solid 1px;
    padding: 12px 16px;
    border-radius: 4px;
    display: flex;
    gap: 10px;
}

.text2{
    text-align: center;
    margin: 44px auto;
}

.text2 p{
    color: #627382;
}


.detail-box{
    margin: 0 auto;
    width: 1360px;
    max-width: 1360px;
    display: flex;
    gap: 24px;
    text-align: center;
}
.detail-box i{
    font-size: 50px;
}

.detail-box p{
    color: #627382;
}
.detail-card{
    padding: 24px;
    max-width: 322px;
    box-shadow: 0 5px 50px 0;
    height: 300px;
    margin: auto;
    padding-top: 70px;
    border-radius: 5px;
    }

#solution{
    display: flex;
    gap: 60px;
    background-color:white;
    padding: 120px;
}
.solution-text{
    padding-top: 102px;
    width:  700px;
}

.solution-text h6{
    color: #30b868;
    font-size: 16px;
}
.solution-text p{
    color: #627382;
}
.points{
    text-align: left;
    list-style: none;
    padding-left: 0px;
    padding-top: 40px;
    font-size: 16px;
}
.points img{
    vertical-align: bottom;
}

#access{
    padding: 0 120px 120px 120px ;
}

.ready{
    background-color: #f7f6f2;
    text-align: center;
    padding: 80px 40px ;
}
#access p{
    color: #627382;
}

footer{
    background-color: rgb(16, 11, 63);
    
    color: #f7f6f2;
    padding: 120px 120px 30px 120px;
}

.top-foot{
    display: flex;
    padding-bottom: 80px;
}
.links{
    display: flex;
    list-style: none;
    padding:0px;
}

.bott-foot{
    text-align: center;
    padding-bottom: 30px;
}

